*{
    
    margin: 0;
    padding: 0;
    border:0;
    font-family: 'Montserrat', sans-serif;
  
}

body
{
    background-color:black;

}

nav
{
    display: flex;
    color: black;
    background-color: #FCAF02;
    padding:12px 18px;
    align-items:center;
    position: relative;
    gap:30px;
    font-size:15px;
    position: sticky;
    top:0;
}
nav img
{
    width: 80px;
    margin-right: 60%;
    margin-left: 30px;

}
nav a
{
    text-decoration: none;
    color: black;
}
/* .left
{
    margin-right:60%;
   
}

.left::after
{   
    content:'';   
    height:1.5px;
    width:22px;
    background: #1E1E1E ;
    position: absolute;
    left:6.8%;
    bottom:12px;
} */

.left-side
{   width:50%;
    color:#FFFFFF;
    margin-right:20%;
    
}

.left-side p
{
  margin-top:30px;
}

.left-side h1
{ font-size:30px;
  font-weight:900 ;
}
 
.left-side button
{   margin-top:30px;
    background-color: #FCAF02;
    padding: 10px 70px;
    border-radius: 20px;
    color: black;
    font-weight: bolder;
}

.right>img
{
    width: 400px;
}

.main
{
    display: flex;
    margin:30px 30px 30px 50px;
    margin-top: 50px;
}

.form
{
    color:#FCAF02;
    margin: 10px 30px 10px 50px;
}

.form h1
{ font-size:30px ;
  
}

input 
{   width:90%;
    color: #FCAF02 !important ;
    border:1px solid #FCAF02;
    background-color: black !important;
    padding: 12px 30px;
    font-size: 15px;
    border-radius: 20px;
    margin-top:20px;

}
input:focus
{
    outline: none;
}

::placeholder
{
    color: #FCAF02;
}

.con
{   display: inline-flex;
    width:95%;
    gap:50px;
}

.form button
{
    background-color: #FCAF02;
    font-weight:900;
    margin-left: 41%;
    padding:10px 30px;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 40px;
}

table
{
    width: 90%;
    margin-left:50px;
    text-align: center;
    margin-bottom: 20px;

}

table,th,td
{ 
  border:1px solid #FCAF02;

  border-collapse:collapse;
  
}
thead 
{  
    color:#FCAF02;
}
thead th
{
    height: 45px;
}

tbody
{    
    color: #FCAF02;
}
tbody td
{   
    border: none;
    border-left:1px solid #FCAF02;
    height: 45px;
    
}   

tfoot
{  
    background-color: #FCAF02;
}

tfoot td
{
    border-right:2px solid #1E1E1E;
    border-collapse: collapse;
    height:45px;
}